/* Body Background image */
body {
  background-image: url(/static/images/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Custom color classes */
.custom-red {
  background-color: #D90718;
}

.custom-orange {
  background-color: #F27D16;
}

.custom-yellow {
  background-color: #FFDF3C;
}

.custom-green {
  background-color: #728C11;
}
.custom-orange-text {
  color: #F27D16;
}

/* Navbar */
.nav-wrapper {
  /* Add margins to the left and right of the navigation bar */
    margin-left: 10px;
    margin-right: 10px;
}

/* flash messages */
.message-margin {
  /* Add margins and padding to flash messages */
  margin-left: 5px;
  margin-right: 5px;
  padding:5px;
}

.message-padding {
  /* Add padding to flash messages */
  padding: 5px;
}

/* text styles */
.text-shadow {
  /* Apply a subtle text shadow for aesthetical purpose */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* button hover effects */
.btn, .btn-large, .anchor-btn {
  transition: 1s;
  
}
/* button hover colour */
.btn:hover, .btn-large:hover, .anchor-btn:hover {
  background-color: #728C11;
  transform: scale(1.075);
}

/* welcome page */
/* sign up and sign in button position */
.btn-center {
  display: block;
  align-items: center;
}

/* show recipes page cards */
.col.m6 {
  width: calc(50% - 20px) !important;
  margin: 0 10px !important;
}

/* Center-align "View Recipe" links */
.card-action a {
  display: block;
  text-align: center;
}

/* card scale/zoom */
.zoom {
  transition: 1s;
}
.zoom:hover {
  transform: scale(1.05);
}
/* Add recipe card */
.add-recipe-card {
align-content: center;
margin-left: 10%;
max-width: 80%;
}

/* Recipe Card Image */
.card-image {
  max-width: 100%; 
  max-height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.card-image img {
  width: 100%; 
  height: auto; 
}

/* text area on add-recipe form*/
 /* placeholder text within the textarea */
 ::placeholder {
  color: #a19d9d;
}

/* The textarea itself */
#recipe_description {
  width: 80%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* recipe details page */
.recipe-details-image {
  max-width: 100%;
  max-height: 600px;
}

/* Navbar media queries */
@media only screen and (max-width: 992px) {
    /* Hide the desktop navigation and show the mobile dropdown trigger */
    #nav-desktop {
      display: none;
    }
    .dropdown-trigger.hide-on-large-only {
      display: block;
      padding: 10px;
      padding-top: 0px;
      
    }
    .dropdown-content li a {
        color: white;
      }
  }
  @media only screen and (min-width: 993px) {
    /* Hide the mobile dropdown trigger and show the desktop navigation */
    #nav-desktop {
      display: block;
    }
    .dropdown-trigger.hide-on-large-only {
      display: none;
    }
    .dropdown-content li a {
        color: white;
      }
  }
  @media (max-width:600px) {
    .dropdown-trigger.hide-on-large-only {
        display: block;
        padding: 10px;
        padding-top: 20px;
    }
    .dropdown-content li a {
        color: white;
      }
}

/* show recipes media queries */
/* cards */
/* Media queries for screens smaller than an iPad (max-width: 992px) */
@media only screen and (max-width: 992px) {
  .col.m6 {
    width: 80% !important;
    margin-left: 10% !important;
  }
}

/* Media queries for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .col.s12 {
    width: 90% !important;
    margin-left: 5% !important;
  }
}

/* Responsive recipe title */
@media only screen and (max-width: 477px) {
  .card-title h2 {
    font-size: 2.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: none;
    margin: 0;

  }
}

@media only screen and (max-width: 400px) {
  .card-title h2 {
    font-size: 2.25rem;
  }
  .card-title h3 {
    font-size: 2.75rem;
  }
}