/* Body Background image */
body {
  background-image: url(/static/images/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.nav-wrapper {
  /* Add margins to the left and right of the navigation bar */
    margin-left: 10px;
    margin-right: 10px;
}

/* flash messages */
.message-margin {
  /* Add margins and padding to flash messages */
  margin-left: 5px;
  margin-right: 5px;
  padding:5px;
}

.message-padding {
  /* Add padding to flash messages */
  padding: 5px;
}

/* text styles */
.text-shadow {
  /* Apply a subtle text shadow for aesthetical purpose */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* welcome page */
/* sign up and sign in button position */
.btn-center {
  display: block;
  align-items: center;
}

/* text area on add-recipe form*/
 /* placeholder text within the textarea */
 ::placeholder {
  color: #a19d9d;
}

/* The textarea itself */
#recipe_description {
  width: 80%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Navbar media queries */
@media only screen and (max-width: 992px) {
    /* Hide the desktop navigation and show the mobile dropdown trigger */
    #nav-desktop {
      display: none;
    }
    .dropdown-trigger.hide-on-large-only {
      display: block;
      padding: 10px;
      padding-top: 0px;
      
    }
    .dropdown-content li a {
        color: white;
      }
  }
  @media only screen and (min-width: 993px) {
    /* Hide the mobile dropdown trigger and show the desktop navigation */
    #nav-desktop {
      display: block;
    }
    .dropdown-trigger.hide-on-large-only {
      display: none;
    }
    .dropdown-content li a {
        color: white;
      }
  }
  @media (max-width:600px) {
    .dropdown-trigger.hide-on-large-only {
        display: block;
        padding: 10px;
        padding-top: 20px;
    }
    .dropdown-content li a {
        color: white;
      }
}
