{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<!-- Page title -->
<h1 class="center black-text">Add A Recipe</h1>

<div class="row add-recipe">

    <!-- Add recipe Form -->
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">

        <!-- recipe name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils darkgreen-text prefix"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" minlength="3" maxlength="30"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!-- recipe category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open darkgreen-text prefix"></i>
                <select id="category" name="category" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        <!-- Recipe description input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <input type="text" id="recipe_description" name="recipe_description" minlength="20" maxlength="100"
                    class="validate" required>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>

        {% if session.user == "admin" %}
        <!-- Admin Long Description With affiliate link -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <textarea id="admin_description" name="admin_description" minlength="15" maxlength="5000"
                    class="validate"></textarea>
                <label for="admin_description">Admin's Description</label>
            </div>
        </div>

        <!-- Affiliate product text -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <input type="text" id="product_text" name="product_text" minlength="15" maxlength="500" class="validate">
                <label for="product_text">Product Text</label>
            </div>
        </div>

        <!-- Affiliate product image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <input type="text" id="product_image" name="product_image" minlength="15" maxlength="500"
                    class="validate">
                <label for="product_image">Product Image URL</label>
            </div>
        </div>

        <!-- Affiliate product Link -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <input type="text" id="product_link" name="product_link" minlength="15" maxlength="500" class="validate">
                <label for="product_link">Product Link</label>
            </div>
        </div>
        {% endif %}

        <!-- Prep time input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix darkgreen-text"></i>
                <input type="text" id="prep_time" name="prep_time" maxlength="20" class="validate"
                    required>
                <label for="prep_time">Preparation Time</label>
            </div>
        </div>

        <!-- Cook time input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix darkgreen-text"></i>
                <input type="text" id="cook_time" name="cook_time"  maxlength="20" class="validate"
                    required>
                <label for="cook_time">Cooking Time</label>
            </div>
        </div>

        <!-- Servings input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix darkgreen-text"></i>
                <input type="number" id="servings" name="servings" class="validate" required>
                <label for="servings">Servings</label>
            </div>
        </div>

        <!-- Recipe photo upload area -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix darkgreen-text"></i>
                <input type="file" name="recipe_image" accept="image/*" aria-label="Upload Image Button" required>
                <p>Please upload a Photo of the prepared dish</p>
            </div>
        </div>

        <!-- ingridients fields -->
        <div id="ingredientFields" class="row input-field col s12">
        </div>

        <!-- Add ingredient button -->
        <div>
            <button id="addIngredientButton" class="btn-small custom-mushroom black-text"
                aria-label="Add Ingredient Button"><strong>Add Ingredient</strong> <i
                    class="fas fa-plus black-text"></i></button>
        </div>

        <!-- Method fields -->
        <div id="methodFields" class="row input-field col s12">
        </div>

        <!-- Add Method Step button -->
        <div>
            <button id="addMethodStepButton" class="btn-small custom-darkgreen black-text"
                aria-label="Add Step Button"><strong>Add Step</strong> <i class="fas fa-plus black-text"></i></button>
        </div><br>

        <!-- Form Buttons -->
        <div class="row">
            <div class="col s12 center">
                <!-- post button -->
                <button class="btn-small custom-lightgreen black-text" type="submit" name="post_button"
                    aria-label="Post Recipe Button"><strong>Post</strong>
                    <i class="fas fa-paper-plane darkgreen-text"></i>
                </button>
                <!-- reset button -->
                <button class="btn-small custom-darkgreen black-text" type="reset" name="reset"
                    aria-label="Reset Form Button"><strong>Reset</strong>
                    <i class="fas fa-rotate-left lightgreen-text"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}