{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<!--  delete Profile page title with username -->
<h1 class="center black-text">Delete {{ user.username }}'s Profile</h1>

<!-- delete Profile confirm Form -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel custom-mushroom">
            <h2 class="center black-text">Are you sure you want to delete your profile?</h2><br>
            <form method="POST">
                <div class="center cust-btn-marg">
                    <a href="{{ url_for('profile') }}" class="btn-small anchor-btn custom-lightgreen black-text"
                        aria-label="Cancel Button">
                        <strong>Cancel</strong> <i class="fas fa-rotate-left darkgreen-text"></i>
                    </a>
                    <button type="submit" class="btn-small anchor-btn custom-darkgreen black-text"
                        aria-label="Delete Profile Button"><strong>Delete
                            Profile</strong> <i class="fas fa-trash-alt lightgreen-text"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="center">
    <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Veg-Centric Logo" class="responsive-img" width="167" height="250">
</div>
{% endblock %}
{% block scripts %}
{% endblock %}

</html>