{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<!-- Page title -->
<h1 class="center black-text">Edit {{ recipe.recipe_name }}</h1>

<div class="row add-recipe">

    <!-- Edit recipe Form -->
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
        enctype="multipart/form-data">

        <!-- recipe name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils darkgreen-text prefix"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ recipe.recipe_name}}"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!-- recipe category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open darkgreen-text prefix"></i>
                <select id="category" name="category" class="validate" required>
                    <option value="#" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category }}" {%
                    if category.category == recipe.category %}selected{% endif %}>
                        {{ category.category }}
                    </option>
                    {% endfor %}
                </select>
                <label>Category</label>
            </div>
        </div>

        <!-- Recipe description text area -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix darkgreen-text"></i>
                <input type="text" id="recipe_description" name="recipe_description" minlength="15" maxlength="120"
                    class="validate" value="{{ recipe.recipe_description }}" required>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>

        <!-- Prep time input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix darkgreen-text"></i>
                <input type="text" id="prep_time" name="prep_time" minlength="4" maxlength="20" class="validate"
                    value="{{ recipe.prep_time }}" required>
                <label for="prep_time">Preparation Time</label>
            </div>
        </div>

        <!-- Recipe photo upload area -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix darkgreen-text"></i>
                <input type="file" name="image" accept="image/*" aria-label="Upload Image Button">
                <p>If you would like to change the image of the prepared dish please upload the new 1. The current image
                    will be deleted</p>
                <p>If you do not upload an image the current image will be kept</p>
            </div>
        </div>

        <!-- ingridients fields -->
        <div id="ingredientFields" class="row input-field col s12">
            <h3>Ingredients</h3>
            {% for ingredient in recipe.ingredients %}
            <div class='ingredient'>
                <input type='text' name='ingredient[]' placeholder='Ingredient' value="{{ ingredient.name }}"
                    aria-label="Ingredient">
                <input type='text' name='quantity[]' placeholder='Quantity' value="{{ ingredient.quantity }}"
                    aria-label="Quantity of Ingredient">
                <button class='removeButton btn-small custom-darkgreen'
                    aria-label="Remove Ingredient Button"><strong>Remove</strong> <i
                        class='fas fa-trash-alt white-text'></i></button><br>
            </div>
            {% endfor %}
        </div>

        <!-- Add ingredient button -->
        <div>
            <button id="addIngredientButton" class="btn-small custom-darkgreen"
                aria-label="Add Ingredient Button"><strong>Add Ingredient</strong> <i
                    class="fas fa-plus white-text"></i></button>
        </div>

        <!-- Method fields -->
        <div id="methodFields" class="row input-field col s12">
            <h3>Method</h3>
            {% for step in recipe.method_step %}
            <div class='method-step'>
                <input type='text' name='method_step[]' value="{{ step }}" aria-label="Step of Method">
                <button class='removeButton btn-small custom-darkgreen'
                    aria-label="Remove Step Button"><strong>Remove</strong> <i
                        class='fas fa-trash-alt white-text'></i></button>
            </div>
            {% endfor %}
        </div>

        <!-- Add Method Step button -->
        <div>
            <button id="addMethodStepButton" class="btn-small custom-darkgreen" aria-label="Add Step Button"><strong>Add
                    Step</strong> <i class="fas fa-plus white-text"></i></button>
        </div><br>

        <!-- Form Buttons -->
        <div class="row">
            <div class="col s12 center">
                <!-- post button -->
                <button class="btn-small custom-lightgreen black-text" type="submit" name="post_button"
                    aria-label="Update Recipe Button"><strong>Update</strong> <i
                        class="fas fa-cloud-arrow-up darkgreen-text"></i></button>
                <!-- reset button -->
                <button class="btn-small custom-lightgreen black-text" type="reset" name="reset"
                    aria-label="Reset Form Button"><strong>Reset</strong>
                    <i class="fas fa-rotate-left right darkgreen-text"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}