{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<!--  edit Profile page title with username -->
<h1 class="center black-text">Edit {{ user.username }}'s Profile</h1>
<!-- Edit Profile Form -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel custom-mushroom">
            <form method="POST" action="/edit_profile">
                <!-- first name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-id-card darkgreen-text prefix"></i>
                        <input id="firstname" name="firstname" type="text" class="validate" minlength="2" maxlength="30"
                            pattern="^[a-zA-Z]{2,30}$" value="{{ user.firstname }}" required>
                        <label for="firstname">First Name</label>
                    </div>
                </div>
                <!-- last name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-id-card darkgreen-text prefix"></i>
                        <input id="lastname" name="lastname" type="text" class="validate" minlength="2" maxlength="30"
                            pattern="^[a-zA-Z]{2,30}$" value="{{ user.lastname }}" required>
                        <label for="lastname">Last Name</label>
                    </div>
                </div>
                <!-- email address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope darkgreen-text prefix"></i>
                        <input id="email" name="email" type="email" class="validate" minlength="8" maxlength="50"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value="{{ user.email }}"
                            autocomplete="email" required>
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key darkgreen-text prefix"></i>
                        <input id="new_password" name="new_password" type="password" minlength="6" maxlength="15"
                            pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,15}$" class="validate" required>
                        <label for="new_password">New Password</label>
                    </div>
                </div>
                <!-- confirm password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key darkgreen-text prefix"></i>
                        <input id="confirm_password" name="confirm_password" type="password" minlength="6"
                            maxlength="15" pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,15}$" class="validate" required>
                        <label for="confirm_password">Confirm New Password</label>
                    </div>
                </div>
                <!-- Buttons to save changes and delete profile -->
                <div class="center recipe-details-btns">
                    <a href="{{ url_for('delete_profile') }}" class="btn-small anchor-btn custom-lightgreen black-text"
                        aria-label="Delete Profile Button">
                        <strong>Delete Profile</strong> <i class="fas fa-trash-alt darkgreen-text"></i>
                    </a>
                    <button type="submit" class="btn-small anchor-btn custom-lightgreen black-text"
                        aria-label="Save Changes Button"><strong>Save
                            Changes</strong> <i class="fas fa-floppy-disk darkgreen-text"></i></button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>

</html>