{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="styles.css">
{% endblock %}
{% block content %}
<!-- Recipe Title -->
<h1 class="center">{{ recipe.recipe_name }}</h1>

<!-- Recipe Image -->
<div class="center">
  <img src="{{ recipe.image }}" alt="Image for {{ recipe.recipe_name }}" class="recipe-details-img">
</div>
{% if recipe.admin_description %}
<div class="center">
  <div class="recipe-details-info">
    <p><i class="fas fa-folder-open darkgreen-text prefix"></i> <strong>Category:</strong> {{ recipe.category }}</p>
    <p><i class="fas fa-clock prefix darkgreen-text"></i> <strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
    <p><i class="fas fa-clock prefix darkgreen-text"></i> <strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
    <p><i class="fas fa-utensils darkgreen-text prefix"></i> <strong>Servings:</strong> {{ recipe.servings }}</p>
    <p><i class="fas fa-user prefix darkgreen-text"></i> <strong>Posted By:</strong> {{ recipe.created_by }}</p>
    <p><i class="fas fa-calendar-days prefix darkgreen-text"></i> <strong>Date Posted:</strong> {{ recipe.date_added }}
    </p>
    <p class="recipe-description admin-text"><strong>{{ recipe.admin_description }}</strong></p>
  </div>
  <div class="center admin-text">
    <h3>Top Tips</h3>
    <p>{{ recipe.product_text }}</p>
  </div>
  <div class="center">
    <a  href="{{ recipe.product_link }}" target="_blank"><img src="{{ recipe.product_image }}" alt="Image Of Suggested Product" class="recipe-details-img"></a>
  </div> 
    <a href="{{ recipe.product_link }}" target="_blank" class="btn-small custom-lightgreen black-text"
      aria-label="Button To View Product Suggestion"> View Product</a>
  
</div>
{% else %}
<div class="center">
  <div class="recipe-details-info">
    <p class="recipe-description"><strong>{{ recipe.recipe_description }}</strong></p>
    <p><i class="fas fa-folder-open darkgreen-text prefix"></i> <strong>Category:</strong> {{ recipe.category }}</p>
    <p><i class="fas fa-clock prefix darkgreen-text"></i> <strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
    <p><i class="fas fa-clock prefix darkgreen-text"></i> <strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
    <p><i class="fas fa-utensils darkgreen-text prefix"></i> <strong>Servings:</strong> {{ recipe.servings }}</p>
    <p><i class="fas fa-user prefix darkgreen-text"></i> <strong>Posted By:</strong> {{ recipe.created_by }}</p>
    <p><i class="fas fa-calendar-days prefix darkgreen-text"></i> <strong>Date Posted:</strong> {{ recipe.date_added }}
    </p>
  </div>
</div>
{% endif %}

<!-- Ingredients -->
<div class="recipe-ingredients">
  <h3>Ingredients:</h3>
  <ul>
    {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
    {% endfor %}
  </ul>
</div>

<!-- Steps -->
<div class="recipe-steps">
  <h3>Steps:</h3>
  <ol>
    {% for step in recipe.method_step %}
    <li>{{ step }}</li>
    {% endfor %}
  </ol>
</div>

<!-- Recipe Buttons -->
<div class="center">
  {% if user %}
  {% if recipe._id in user.favorites %}
  <form method="POST" action="{{ url_for('remove_favorite', recipe_id=recipe['_id']) }}">
    <a class="black-text custom-lightgreen btn-small" href="{{ url_for('show_recipes', recipe_id=recipe._id) }}"
      aria-label="Back to Recipes Button"><strong>Back
        to Recipes</strong> <i class="fas fa-rotate-left darkgreen-text"></i></a>
    <button type="submit" class="btn-small custom-lightgreen black-text"
      aria-label="Remove Recipe from Favorites Button"><strong>Remove
        Favorite</strong> <i class="fas fa-trash-alt darkgreen-text"></i></button>
  </form>
  {% else %}
  <form method="POST" action="{{ url_for('add_to_favorites', recipe_id=recipe['_id']) }}">
    <a class="custom-lightgreen btn-small black-text" href="{{ url_for('show_recipes', recipe_id=recipe._id) }}"
      aria-label="Back to Recipes Button"><strong>Back
        to Recipes</strong> <i class="fas fa-rotate-left darkgreen-text"></i></a>
    <button type="submit" class="btn-small custom-lightgreen black-text"
      aria-label="Add Recipe to Favorites Button"><strong>Add to
        Favorites</strong> <i class="fas fa-plus darkgreen-text"></i></button>
  </form>
  {% endif %}
  {% if session.user == 'admin' or (user and user.username == recipe.created_by) %}
  <!-- Add buttons for admin users to edit and delete the recipe -->
  <form id="deleteRecipeForm{{ recipe._id }}" action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
    method="post" onsubmit="return confirm('Are you sure you want to delete this recipe?');">
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small custom-lightgreen black-text"
      aria-label="Edit Recipe Button"><strong>Edit Recipe
      </strong> <i class="fas fa-pen-to-square darkgreen-text"></i></a>

    <button type="submit" class="btn-small custom-lightgreen black-text" aria-label="Delete Recipe Button">
      <strong>Delete Recipe</strong> <i class="fas fa-trash-alt darkgreen-text"></i>
    </button>
  </form>
  {% endif %}
  {% else %}
  <!-- Add buttons for users not signed in or in session -->
  <a class="custom-lightgreen btn-small black-text btn-spacing" href="{{ url_for('show_recipes') }}"
    aria-label="Back to Recipes Button"><strong>Back to
      Recipes</strong> <i class="fas fa-rotate-left darkgreen-text"></i></a>
  <a class="custom-lightgreen btn-small black-text btn-spacing" href="{{ url_for('sign_in') }}"
    aria-label="Sign In Button"><strong>Sign In</strong>
    <i class="fas fa-sign-in-alt darkgreen-text"></i></a>
  <a class="custom-lightgreen btn-small black-text btn-spacing" href="{{ url_for('sign_up') }}"
    aria-label="Sign Up Button"><strong>Sign Up</strong> <i class="fas fa-user-plus darkgreen-text"></i></a>
  {% endif %}

</div>
{% endblock %}
{% block scripts %}
{% endblock %}
