{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<!-- Recipe page title -->
<h2 class="white-text center">Recipes</h2>
<div class="row">
    {% for recipe in recipes %}
    <!-- Recipe Card -->
    
        <div class="col s12 m6 offset-m2">
            <div class="card-panel custom-yellow">
            <div class="card large zoom">
                <!-- Recipe Image-->
                <div class="card-image">
                    <img src="../static/images/background.webp">
                    <div class="card-title">
                        <!-- Recipe Name and Category -->
                        <h2>{{ recipe.recipe_name }}</h2><br>
                        <h3>{{ recipe.category }}</h3>
                    </div>
                </div>
                <div class="card-content">
                    <!-- Recipe Description, Author, and Date -->
                    <p><strong>{{ recipe.recipe_description}}</strong></p>
                    <p><strong>Posted By:</strong> {{ recipe.created_by }}</p>
                    <p><strong>Date Posted:</strong> {{ recipe.date_added }}</p><br>

                    <!-- Recipe Details link -->
                    <a class="white-text custom-red btn small btn-center" href="#">View Recipe</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block scripts %}
{% endblock %}
</body>

</html>