{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<!-- Sign up page title and instruction -->
<h1 class="center black-text">Sign Up</h1>
<p class="center black-text">Please fill out to form and hit the "Sign Up" button</p>

<!-- Sign up form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
        <div class="card-panel custom-mushroom">
            <!-- first name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-id-card darkgreen-text prefix"></i>
                    <input id="firstname" name="firstname" type="text" class="validate" minlength="2" 
                    maxlength="30" pattern="^[a-zA-Z]{2,30}$" required>
                    <label for="firstname">First Name</label>
                </div>
            </div>
            <!-- last name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-id-card darkgreen-text prefix"></i>
                    <input id="lastname" name="lastname" type="text" class="validate" minlength="2" 
                    maxlength="30" pattern="^[a-zA-Z]{2,30}$" required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <!-- email address -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope darkgreen-text prefix"></i>
                    <input id="email" name="email" type="email" class="validate" minlength="8" 
                    maxlength="50" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                    <label for="email">Email Address</label>
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-tag darkgreen-text prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" 
                    maxlength="20" pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,20}$" required>
                    <label for="username">UserName</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key darkgreen-text prefix"></i>
                    <input id="password" name="password" type="password" minlength="6" 
                    maxlength="15" pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
             <!-- confirm password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key darkgreen-text prefix"></i>
                    <input id="confirm_password" name="confirm_password" type="password" minlength="6" 
                    maxlength="15" pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,15}$" class="validate" required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <p class="center black-text">
                By clicking "Sign Up," you agree to our
                <a href="#" id="termsLink">Terms and Conditions</a> and
                <a href="#" id="privacyLink">Privacy Policy</a>.
            </p>
            
            <!-- modals for Terms and Privacy Policy -->
            <div id="termsModal" class="modal">
                <div class="modal-content">
                    <h3>Terms and Conditions for Veg-Centric Recipes Website</h3>
                    <h3>Effective Date: 28/09/2023</h3>
                    <p>Please read these Terms and Conditions ("Terms") carefully before using the Veg-Centric Recipes website (the "Website"). By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, please do not use the Website.</p>
                    <h3>1. User Registration and Accounts</h3>
                    <p>a. User Accounts: Users may browse the Website without registering, but certain features, such as adding recipes to your favorites list and uploading recipes, require registration. By creating an account, you agree to provide accurate, current, and complete information.</p>
                    <p>b. Security: You are responsible for maintaining the security of your account and password. You agree not to disclose your password to any third party. You are solely responsible for any activity that occurs under your account.</p>
                    <h3>2. User-Generated Content</h3>
                    <p>a. Recipe Uploads: Users who upload recipes ("Contributors") grant Veg-Centric Recipes and its administrators the right to edit, modify, or delete the recipes for readability and aesthetic purposes. This may include changing the recipe's formatting, text, and images.</p>
                    <p>b. Affiliate Marketing Links: Administrators may add affiliate marketing links to products mentioned in recipes. These links are added for informational and monetization purposes.</p>
                    <h3>3. Website Administration</h3>
                    <p>a. Administrator Rights: Administrators have the right to edit, modify, or delete any user-generated content, including recipes and affiliate marketing links, to maintain the Website's quality and compliance with our policies.</p>
                    <p>b. Image Changes: Administrators may change recipe images to improve website aesthetics.</p>
                    <h3>4. User Conduct</h3>
                    <p>a. Prohibited Content: Users are prohibited from uploading or sharing content that is illegal, offensive, discriminatory, or violates the rights of others.</p>
                    <h3>5. Privacy Policy</h3>
                    <p>a. Privacy: Please refer to our Privacy Policy for information on how we collect, use, and disclose your personal information.</p>
                    <h3>6. Limitation of Liability</h3>
                    <p>a. Disclaimer: Veg-Centric Recipes is not responsible for the accuracy, quality, or safety of user-generated content. We do not endorse any products mentioned in recipes.</p>
                    <h3>7. Termination</h3>
                    <p>a. Termination: Veg-Centric Recipes reserves the right to terminate or suspend user accounts and access to the Website at its sole discretion.</p>
                    <h3>8. Changes to Terms</h3>
                    <p>a. Modifications: Veg-Centric Recipes may modify these Terms at any time. Users will be notified of any changes, and continued use of the Website after modifications constitute acceptance of the updated Terms.</p>
                    <h3>9. Governing Law</h3>
                    <p>a. Jurisdiction: These Terms are governed by and construed in accordance with the laws of The United Kingdom.</p>
                    <h3>10. Contact Information</h3>
                    <p>a. Contact: If you have any questions or concerns about these Terms, please contact us at vegcentricrecipes@gmail.com</p>
                    <p>By using the Veg-Centric Recipes website, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            
            <div id="privacyModal" class="modal">
                <div class="modal-content">
                    <h3>Privacy Policy</h3>
                    <h3>Effective Date: 28/09/23</h3>
                    <p>Your privacy is important to us. This Privacy Policy explains how Veg-Centric Recipes ("we," "our," or "us") collects, uses, and protects your personal information when you use our website (the "Website"). By accessing or using the Website, you agree to the terms of this Privacy Policy.</p>
                    <h3>1. Information We Collect</h3>
                    <p>a. User-Provided Information: We may collect personal information when you register an account, such as your name, email address, and username. Users who upload recipes may provide additional information, including images and content.</p>
                    <p>b. Automatically Collected Information: We may collect information about your usage of the Website, including your IP address, browser type, and device information. We may also use cookies and similar technologies to enhance your experience and gather information about how the Website is used.</p>
                    <h3>2. Use of Your Information</h3>
                    <p>a. To Provide Services: We may use your information to provide the services offered on the Website, including recipe uploads and account management.</p>
                    <p>b. Communication: We may use your email address to send you updates, notifications, and information related to the Website. You can opt out of these communications at any time.</p>
                    <p>c. Analytics: We may use data analytics to improve the Website's functionality and user experience.</p>
                    <h3>3. Sharing of Your Information</h3>
                    <p>a. Affiliates: We may share your information with affiliates and service providers who help us with website operations and maintenance.</p>
                    <p>b. Legal Requirements: We may disclose your information if required by law, such as in response to a legal process or government request.</p>
                    <h3>4. Data Security</h3>
                    <p>a. Security Measures: We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</p>
                    <h3>5. Your Choices</h3>  
                    <p>a. Account Information: You can update or delete your account information at any time by logging into your account settings.</p>
                    <p>b. Cookies: You can manage cookies through your browser settings. Note that disabling cookies may affect your experience on the Website.</p>
                    <h3>6. Children's Privacy</h3>
                    <p>a. Age Restriction: The Website is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children under 13 years old.</p>
                    <h3>7. Changes to this Privacy Policy</h3>
                    <p>a. Modifications: We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify users of any material changes.</p>
                    <h3>8. Contact Us</h3>
                    <p>a. Contact: If you have questions, concerns, or requests related to this Privacy Policy, please contact us at vegcentricrecipes@gmail.com</p>
                    <p>By using the Veg-Centric Recipes website, you acknowledge that you have read, understood, and agreed to this Privacy Policy.</p>
                
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!-- sign up button -->
            <div class="row center-align">
                <button type="submit" class="btn-small custom-lightgreen black-text" aria-label="Sign Up Button"><strong>Sign Up</strong>  <i class="fas fa-user-plus darkgreen-text"></i></button>
            </div>
            <!-- Sign in link -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">Already A Member?
                        <a href="{{ url_for('sign_in') }}" aria-label="Sign In Button">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End of sign up form -->

{% endblock %}
{% block scripts %}
{% endblock %}

</body>
</html>