{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="center">
    <img src="../static/images/logo.png" alt="Veg-Centric Logo" class="responsive-img" width="335" height="500">
</div>

<!-- Sign in page title -->
<h1 class="center black-text">Sign In</h1>

<!-- Sign in form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_in') }}">
        <div class="card-panel custom-mushroom round">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-tag darkgreen-text prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="20"
                        pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,20}$" required autocomplete="username">
                    <label for="username">UserName</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key darkgreen-text prefix"></i>
                    <input id="password" name="password" type="password" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9!@#$%&*()_+{}:;,.?~-=]{6,15}$" class="validate" required autocomplete="current-password">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- sign in button -->
            <div class="row center-align recipe-details-btns">
                <button type="submit" class="btn-small custom-lightgreen black-text"
                    aria-label="Sign In Button"><strong>Sign In</strong> <i
                        class="fas fa-arrow-right darkgreen-text"></i></button>
            </div>
            <!-- Sign up link -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">Not A Member yet?</p>
                </div>
                <div class="center-align recipe-details-btns">
                    <a href="{{ url_for('sign_up') }}" role="button" class="btn-small custom-lightgreen black-text"
                    aria-label="Sign up Button"><strong>Sign Up</strong> <i
                        class="fas fa-user-plus darkgreen-text"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End of sign in form -->
{% endblock %}
{% block scripts %}
{% endblock %}

</body>

</html>
