{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<!-- Sign up page title and instruction -->
<h1 class="center black-text">Sign Up</h1>
<p class="center black-text">Please fill out to form and hit the "Sign Up" button</p>

<!-- Sign up form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
        <div class="card-panel custom-mushroom round">
            <!-- first name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-id-card darkgreen-text prefix"></i>
                    <input id="firstname" name="firstname" type="text" class="validate" minlength="2" maxlength="30"
                        pattern="^[a-zA-Z]{2,30}$" required>
                    <label for="firstname">First Name</label>
                </div>
            </div>
            <!-- last name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-id-card darkgreen-text prefix"></i>
                    <input id="lastname" name="lastname" type="text" class="validate" minlength="2" maxlength="30"
                        pattern="^[a-zA-Z]{2,30}$" required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <!-- email address -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope darkgreen-text prefix"></i>
                    <input id="email" name="email" type="email" class="validate" minlength="8" maxlength="50"
                        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" autocomplete="email" required>
                    <label for="email">Email Address</label>
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-tag darkgreen-text prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="20"
                        pattern="^[a-zA-Z0-9!@#\$%&\*\(\)_+:;,\.\?~\-=]{5,20}$" autocomplete="username" required>
                    <label for="username">UserName</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key darkgreen-text prefix"></i>
                    <input id="password" name="password" type="password" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9!@#\$%&\*\(\)_+:;,\.\?~\-=]{6,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- confirm password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key darkgreen-text prefix"></i>
                    <input id="confirm_password" name="confirm_password" type="password" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9!@#\$%&\*\(\)_+:;,\.\?~\-=]{6,15}$" class="validate" required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <p class="center black-text">
                By clicking "Sign Up" you agree to our
                <a href="#" id="termsLink" aria-label="Terms and Conditions" class="modal-link">Terms and Conditions</a>
                and
                <a href="#" id="privacyLink" aria-label="Privacy Policy" class="modal-link">Privacy Policy</a>.
            </p>

            <!-- modals for Terms and Privacy Policy -->
            <div id="termsModal" class="modal">
                <div class="modal-content">
                    {% include 'termsandconditions.html' %}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <div id="privacyModal" class="modal">
                <div class="modal-content">
                    {% include 'privacypolicy.html' %}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!-- sign up button -->
            <div class="row center-align cust-btn-marg">
                <button type="submit" class="btn-small custom-lightgreen black-text"
                    aria-label="Sign Up Button"><strong>Sign Up</strong> <i
                        class="fas fa-user-plus darkgreen-text"></i></button>
                <button type="reset" class="btn-small custom-lightgreen black-text"
                    aria-label="Reset Form Button"><strong>reset</strong> <i
                        class="fas fa-arrow-rotate-left darkgreen-text"></i></button>
            </div>
            <!-- Sign in link -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">Already A Member?</p>
                </div>
                <div class="center-align cust-btn-marg">
                    <a href="{{ url_for('sign_in') }}" role="button" class="btn-small custom-lightgreen black-text"
                        aria-label="Sign up Button"><strong>Sign In</strong> <i
                            class="fas fa-arrow-right darkgreen-text"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End of sign up form -->

{% endblock %}
{% block scripts %}
{% endblock %}

</body>

</html>